@{
    ViewBag.Title = "Parc Paradiso";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Estabelece a comunicação entre o condômino e a administração e gerencia os dados cadastrais de todos os condôminios bem como a sua administração finaceira.</p>
