@model System.Web.Mvc.IPagedList
@{
    Layout = null;
}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnModal">×</button>
                <h3 class="modal-title" id="myModalLabel">Pesquisar</h3>
            </div>
            <div class="modal-body">
                @Html.Partial(Model.action, Model)
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
        </div>
    </div>
</div>


<a id="tttt" href="#myModal" data-toggle="modal"></a>

<script type="text/javascript">
    document.getElementById("tttt").click();
</script>
