<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bolaco.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bolaco</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bolaco</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="App_DominioContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tgfh7aiwbf.database.windows.net,1433;Initial Catalog=bolaco;Integrated Security=False;User ID=andreborgesleal@tgfh7aiwbf;Password=P1pob@qu1grafo;Connect Timeout=30;Encrypt=True" Name="server=tcp:tgfh7aiwbf.database.windows.net,1433;database=bolaco;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=bolaco;Persist Security Info=True;User ID=sa;Password=masterkey" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\App_DominioContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=bolaco;Persist Security Info=True;User ID=sa;Password=masterkey;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tgfh7aiwbf.database.windows.net,1433;Initial Catalog=bolaco;Integrated Security=False;User ID=andreborgesleal@tgfh7aiwbf;Password=P1pob@qu1grafo;Connect Timeout=30;Encrypt=True" Name="server=tcp:tgfh7aiwbf.database.windows.net,1433;database=bolaco;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=bolaco;Persist Security Info=True;User ID=sa;Password=masterkey" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=bolaco;Persist Security Info=True;User ID=sa;Password=masterkey;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sindemed-20131115035625.mdf;Initial Catalog=aspnet-Sindemed-20131115035625;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Sindemed-20131115035625.mdf;Initial Catalog=aspnet-Sindemed-20131115035625;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SecurityContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:tgfh7aiwbf.database.windows.net,1433;Initial Catalog=seguranca;Integrated Security=False;User ID=andreborgesleal@tgfh7aiwbf;Password=P1pob@qu1grafo;Connect Timeout=30;Encrypt=True" Name="server=tcp:tgfh7aiwbf.database.windows.net,1433;database=seguranca;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=seguranca;Persist Security Info=True;User ID=sa;Password=masterkey" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SecurityContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=seguranca;Persist Security Info=True;User ID=sa;Password=masterkey;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationContext-Web.config Connection String">
      <ParameterValue>server=tcp:tgfh7aiwbf.database.windows.net,1433;database=bolaco;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)App_DominioContext-Web.config Connection String">
      <ParameterValue>server=tcp:tgfh7aiwbf.database.windows.net,1433;database=bolaco;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecurityContext-Web.config Connection String">
      <ParameterValue>server=tcp:tgfh7aiwbf.database.windows.net,1433;database=seguranca;user id=andreborgesleal@tgfh7aiwbf;password=P1pob@qu1grafo;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>