@model System.Web.Mvc.IPagedList  
@{
    Layout= null;
    string cabecalho = ViewBag.Header;
}   

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">@ViewBag.Header</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        @*<ul class="nav navbar-nav navbar-right">
            <li>
                <a href="Create"><span class="label label-primary">Incluir</span></a>
            </li>
        </ul>*@
        @using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "get" }, new { @class = "navbar-form navbar-left", @role = "search" }))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8" style="top: 3px">
                        @Html.TextBox("descricao", "", htmlAttributes: new { @class = "form-control input-sm", @placeholder = "Descrição", @style="width: 115%" })
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" onclick="Refresh(0, getPageSize(), '@Model.action', '@Model.DivId')">Buscar</button>
                    </div>
                </div>
            </div> 
        }
    </div>
</nav>



