@{ 
    Layout = null;
}
<div class="row clearfix">
    <div class="col-md-12" style="font-family: Arial">
        <div class="row" style="text-align: center; font-weight: bold; font-size: larger;">
            <div class="col-md-12">
                Regulamento da Campanha “Bolaaaaço Norte Refrigeração - 2018”
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                1.&nbsp;&nbsp;<u>Objetivo:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                O objetivo é estimular nossos clientes (Pessoa Física) para entrarem no clima da Copa do Mundo, brincando e torcendo através de um Bolão Eletrônico que lhe concede ótimos prêmios para os palpites corretos em algumas fases da Copa.        
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                2.&nbsp;&nbsp;<u>Período da promoção:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; font-weight: normal">
            <div class="col-md-12" style="padding-left: 40px">
                A campanhar será realizada em território nacional no período de 08:00h do dia 23/05/2018 às 14:00h do dia 10/07/2018, realizada pela Norte Refrigeração Ltda., com sede na Travessa São Pedro 165 – Bairro Campina – Belém/PA, inscrito no CNPJ nr. 04.920.658/0001-72.
            </div>
            <div class="col-md-12" style="font-size: medium; margin-top: 30px; padding-left: 40px">
                <table style="border: 1px solid #444444">
                    <tr style="height: 50px; vertical-align: middle; font-weight: bold">
                        <td style="text-align: center; border: 1px solid #444444" colspan="2">Palpites</td>
                        <td style="text-align: center; border: 1px solid #444444">Prêmios</td>
                        <td style="text-align: center; border: 1px solid #444444">Entrega dos Prêmios</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; border: 1px solid #444444; width: 70px; text-align: center">1ª Fase</td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    Até o dia 17/06/2018 às 14h - 1º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    Até o dia 22/06/2018 às 08h - 2º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    Até o dia 27/06/2018 às 14h - 3º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="padding-top: 10px">
                                    &nbsp;
                                </div>
                            </div>
                        </td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center">
                                    1º prêmio - 1 (Uma) Camisa da Campanha
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
                                    1º prêmio - 1 (Uma) Camisa da Campanha
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center">
                                    1º prêmio - 1 (Uma) Camisa da Campanha
                                </div>
                                <div class="col-md-12" style="text-align: center; padding-top: 10px">
                                    2º prêmio - 1 (Uma) Chopeira em alumínio Eletrogrill 5 lts
                                </div>
                            </div>
                        </td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    A partir do dia 18/06/2018 às 8h
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    A partir do dia 23/06/2018 às 8h
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    A partir do dia 28/06/2018 às 8h
                                </div>
                                <div class="col-md-12" style="padding-left: 10px; padding-top: 10px; height">
                                    A partir do dia 28/06/2018 às 8h
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">Oitavas de Final</td>
                        <td style="border: 1px solid #444444; padding: 10px">Até o dia 02/07/2018 às 10h</td>
                        <td style="border: 1px solid #444444; text-align: center">3º prêmio - 1 (Uma) Camisa ou Caneca da Campanha</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">1º dia útil após o jogo</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">Quartas de Final</td>
                        <td style="border: 1px solid #444444; padding: 10px">Até o dia 06/07/2018 às 14h</td>
                        <td style="border: 1px solid #444444; text-align: center">4º prêmio - 1 (Uma) Camisa ou Caneca da Campanha</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">1º dia útil após o jogo</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">Semifinal</td>
                        <td style="border: 1px solid #444444; padding: 10px">Até o dia 10/07/2018 às 14h</td>
                        <td style="border: 1px solid #444444; text-align: center">5º prêmio - 1 (Uma) Camisa ou Caneca da Campanha</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">1º dia útil após o jogo</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">&nbsp;</td>
                        <td style="border: 1px solid #444444; padding: 10px">&nbsp;</td>
                        <td style="border: 1px solid #444444; text-align: center">6º prêmio - 1 (Uma) Churrasqueira Arke elétrica c/ três espetos giratórios</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">1º dia útil após o jogo</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">Fase Final</td>
                        <td style="border: 1px solid #444444; padding: 10px">Até o dia 10/07/2018 às 14h</td>
                        <td style="border: 1px solid #444444; text-align: center">7º prêmio - 1 (Um) Split Agratto 9.000 BTUS</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">A partir de 16/07/2018 às 8h</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="padding-left: 40px">
                <strong>Entrega dos Prêmios: NORTE REFRIGERAÇÃO MATRIZ (Tv. São Pedro, 165, Campina.)</strong>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 40px">
            <div class="col-md-12">
                3.&nbsp;&nbsp;<u>Como participar:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Para participar da campanha “Bolaaaaço Norte Refrigeração 2018” , o cliente pessoa física deverá fazer uma compra em qualquer uma das lojas ou pelo Site da Norte Refrigeração durante o período da campanha.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        b)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        A cada compra o cliente recebe um ticket com seu NÚMERO DA SORTE (numeração única) e a data da compra para se cadastrar na promoção.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        c)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Com o ticket, basta acessar o site da Norte (www.norterefrigeracao.com.br), clicar no Banner da campanha e fazer seu cadastro, preenchendo os campos obrigatórios como: CPF, nome do participante, telefone, e-mail e senha. Opcionalmente também poder ser informado o endereço de contato.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        d)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Após realizar o cadastro, o participante estará apto a realizar os seus palpites.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        e)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Após feito o cadastro, o cliente deverá preencher os palpites dos jogos do Brasil em todas as fases da Copa, além de informar as duas seleções que jogarão a final da Copa e o placar da final. 
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        f)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        O cliente receberá um e-mail contendo o comprovante de inscrição com todos os dados preenchidos por ele, assim como a cada palpite realizado um email também é enviado para sua conferência.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        g)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Ao final de cada fase da Copa, após os critérios designados neste regulamento, serão definidos os ganhadores e entregue os prêmios aos clientes que comparecerem à empresa. 
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        h)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Não é permitido a participação do colaborador direto e indireto da Norte Refrigeração.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        i)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Ao participar da campanha o cliente estará automaticamente concordando com todos os termos descritos neste regulamento e autorizando a divulgação de sua imagem nas propagandas da Norte Refrigeração. 
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        j)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Os prêmios em hipótese alguma poderão ser convertidos em dinheiro.
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-weight: normal; margin-top: 30px">
                Observações:
                <ul style="line-height: 30px; margin-top: 10px">
                    <li>Após os prazos vencidos de cada fase da Copa o cliente só poderá palpitar nas fases restantes.</li>
                    <li>A qualquer momento o cliente poderá acessar o site para consultar seu cadastro e os seus palpites.</li>
                    <li>O cliente não poderá alterar os palpites já cadastrados por ele no site da Norte.</li>
                    <li>Após a fase de grupos, caso o jogo termine empatado, não será considerado o placar dos pênaltis, somente do jogo normal e prorrogação.</li>
                </ul>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                4.&nbsp;&nbsp;<u>Prêmios:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p><u>Primeira Fase da Copa</u></p>
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Primeiro Prêmio</b> Serão entregues prêmios individuais para todos aqueles que acertarem o placar em qualquer um dos três jogos do Brasil na 1ª fase da Copa. Nesta fase não haverá empates e todos os acertos serão contemplados com o prêmio da Primeira fase.
                        <p>Prêmio: <b>01 (uma) camiseta da campanha “Bolaaaço Norte Refrigeração - 2018”.</b> </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                b)
                            </div>
                            <div class="col-md-11" style="padding-left: 0px">
                                <b>Segundo Prêmio</b> (final da 1ª. Fase da Copa): Será entregue um único prêmio para aquele que acertar o placar dos 3 (três) jogos do Brasil na 1ª fase. Para o segundo prêmio haverá critérios de desempate. 
                                <p>Prêmio: <b>01 (uma) Chopeira em alumínio Eletrogrill 5 lts.</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Critérios de desempate para o segundo prêmio:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Se houver mais de um acertador no segundo prêmio, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, aquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da campanha.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observações:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Não confundir “Data do palpite no site” com a “Data da compra”. A compra pode ter sido realizada por exemplo no dia 18/05/2018, mas o cliente palpitou no site somente no dia 22/05/2018. Esta última data é que será considerada para critério de desempate. </li>
                            <li>Caso ocorra de dois ou mais tickets contemplados terem sido incluídos exatamente ao mesmo tempo (data e hora) no site, os dois receberão prêmios individuais, ou seja, somente nesta situação cada cliente receberá 1 (uma) Chopeira em alumínio Eletrogrill.</li>
                            <li>Se não houver nenhum acertador de todos os três jogos do Brasil na 1ª fase da Copa, será considerado ganhador aquele que acertar dois jogos do Brasil. Neste caso, havendo mais de um acertador em dois jogos do Brasil na 1ª fase da Copa, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, aquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.</li>
                            <li>Se não houver nenhum acertador em pelo menos dois jogos do Brasil na 1ª fase da Copa, não haverá a premiação da Chopeira em alumínio Eletrogrill.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p><u>Oitavas de Final</u></p>
                <div class="row">
                    <div class="col-md-1">
                        c)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Terceiro Prêmio</b> Serão entregues prêmios individuais para todos aqueles que acertarem o placar do jogo entre o Brasil e a respectiva seleção adversária nas oitavas de final, desde que a numeração e a data da compra impressas no ticket estejam cadastrados corretamente no site. Para o terceiro prêmio não haverá critérios de desempates e todos os acertos serão contemplados com o terceiro prêmio.
                        <p>Prêmio: <b>01 (uma) camiseta ou 01 (uma) caneca da campanha “Bolaaaço Norte Refrigeração - 2018”.</b> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observação:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Caso o Brasil não avance para esta etapa, o terceiro prêmio será automaticamente cancelado e os clientes participantes concorrerão somente ao sétimo prêmio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p><u>Quartas de Final</u></p>
                <div class="row">
                    <div class="col-md-1">
                        d)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Quarto Prêmio</b> Serão entregues prêmios individuais para todos aqueles que acertarem o placar do jogo entre o Brasil e a respectiva seleção adversária nas quartas de final, desde que a numeração e a data da compra impressas no ticket estejam cadastrados corretamente no site. Para o quarto prêmio não haverá critérios de desempates e todos os acertos serão contemplados com o quarto prêmio.
                        <p>Prêmio: <b>01 (uma) camiseta ou 01 (uma) caneca da campanha “Bolaaaço Norte Refrigeração - 2018”.</b> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observação:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Caso o Brasil não avance para esta etapa, o quarto prêmio será automaticamente cancelado e os clientes participantes concorrerão somente ao sétimo prêmio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p><u>Semifinal</u></p>
                <div class="row">
                    <div class="col-md-1">
                        e)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Quinto Prêmio</b> Serão entregues prêmios individuais para todos aqueles que acertarem o placar do jogo entre o Brasil e a respectiva seleção adversária na semifinal, desde que a numeração e a data da compra impressas no ticket estejam cadastrados corretamente no site. Para o quinto prêmio não haverá critérios de desempates e todos os acertos serão contemplados com o quinto prêmio.
                        <p>Prêmio: <b>01 (uma) camiseta ou 01 (uma) caneca da campanha “Bolaaaço Norte Refrigeração - 2018”.</b> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observação:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Caso o Brasil não avance para esta etapa, o quinto prêmio será automaticamente cancelado e os clientes participantes concorrerão somente ao sétimo prêmio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        f)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Sexto Prêmio</b> Será entregue um único prêmio para aquele que acertar o placar dos 3 (três) jogos do Brasil nas fases OITAVAS, QUARTAS E SEMIFINAL. Para o sexto prêmio haverá critérios de desempate. 
                        <p>Prêmio: <b>01 (Uma) Churrasqueira Arke elétrica c/ três espetos giratórios.</b> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observação:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Caso o Brasil não avance para uma dessas 3 (três) fases, o sexto prêmio será automaticamente cancelado e os clientes participantes concorrerão somente ao sétimo prêmio.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Critérios de desempate para o sexto prêmio:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Se houver mais de um acertador no sexto prêmio, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, aquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da campanha. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observações:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Não confundir “Data do palpite no site” com a “Data da compra”. A compra pode ter sido realizada por exemplo no dia 10/05/2018, mas o cliente palpitou no site somente no dia 15/05/2018. Esta última data é que será considerada para critério de desempate. </li>
                            <li>Caso ocorra a hipótese de dois ou mais tickets contemplados terem sido incluídos exatamente ao mesmo tempo (data e hora) no site, receberão prêmios individuais, ou seja, somente nesta situação cada cliente receberá uma Churrasqueira elétrica c/ 3 (três) espetos giratórios.</li>
                            <li>Se não houver nenhum acertador de todos os três jogos do Brasil nas fases OITAVAS, QUARTAS e SEMIFINAL, será considerado ganhador aquele que acertar o placar dos jogos do Brasil em pelo menos duas destas três fases, podendo ser OITAVAS E QUARTAS, OITAVAS E SEMIFINAL ou QUARTAS E SEMIFINAL. Neste caso, havendo mais de um acertador em dois jogos do Brasil entre as fases OITAVAS, QUARTAS e SEMIFINAL da Copa, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, aquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.</li>
                            <li>Se não houver nenhum acertador em pelo menos dois jogos do Brasil nas fases OITAVAS, QUARTAS e SEMIFINAL da Copa, não haverá a premiação da Churrasqueira elétrica c/ 3 (três) espetos giratórios.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p><u>Final</u></p>
                <div class="row">
                    <div class="col-md-1">
                        g)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Sétimo Prêmio (fase final da copa) - Esta fase independe da presença do Brasil</b>. Será entregue um único prêmio para aquele que acertar as duas seleções que farão a final da Copa.
                        <p>Prêmio: <b>01 (uma) Split Agratto de 9.000BTUS (INSTALADA*).</b> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observações:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>O palpite só terá validade se a numeração e data da compra impressos no ticket estejam cadastrados corretamente no site.</li>
                            <li>*A INSTALAÇÃO DA SPLIT 9.000 BTUS SERÁ OFERECIDA DE FORMA GRATUITA AO GANHADOR, DESDE QUE O MESMO RESIDA DENTRO DA <u>GRANDE BELÉM E A DISTÂNCIA DE INSTALAÇÃO NÃO ULTRAPASSE 3 (TRÊS) METROS ENTRE AS UNIDADES.</u> </li>
                            <li><b>Consultar na loja as obrigações do cliente para efetivação da instalação.</b> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Critérios de desempate para o sétimo prêmio:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        Se houver mais de um acertador no sétimo prêmio, será considerado vencedor aquele que contemplar as seguintes regras, na ordem: 
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Regra 1: </b>Acertar o placar da final. Havendo mais de um ou nenhum acertador será considerado vencedor aquele que atender a regra 2 abaixo. 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        b)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Regra 2: </b>Palpite mais antigo no site – Se ninguém for contemplado em nenhuma das regras acima ou se houver mais de um acertador para as regras acima, será considerado vencedor o cliente cujo ticket premiado tenha sido incluído por primeiro no site, ou seja, aquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                &nbsp;&nbsp;<u>Observação:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="line-height: 30px; margin-top: 10px">
                            <li>Todos os tickets com o nome do cliente, palpite dos jogos, data da compra, data e hora de cadastro serão divulgados no site e nas lojas de vendas para conferência.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                5.&nbsp;&nbsp;<u>Divulgação do resultado e contato com os vencedores:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                Os ganhadores de cada fase serão informados a cada etapa pelo site da campanha, nas lojas da empresa, por email, SMS e por telefone (caso o cliente tenha informado seu endereço durante a inscrição). 
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                6.&nbsp;&nbsp;<u>Instruções para receber o prêmio:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <p>Para receber o prêmio o cliente deverá comparecer à <b>Norte Refrigeração, loja Matriz</b>, até um prazo de 30 dias a partir da divulgação do resultado e apresentar <b>o seu comprovante de cadastro enviado por e-mail ou documento de identificação com CPF para que possamos consultar e autenticar no sistema interno da empresa os dados informados pelo cliente.</b> </p>
                <p>Se por algum motivo o cliente cadastrar um número e data diferentes com os dados existentes no banco de dados da Norte Refrigeração, <b>o participante será desclassificado.</b></p>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: x-large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                Boa Sorte !
            </div>
        </div>
    </div>
</div>
