<div class="row clearfix">
    <div class="col-md-12" style="font-family: Arial">
        <div class="row" style="text-align: center; font-weight: bold; font-size: larger;">
            <div class="col-md-12">
                Regulamento do “Bolaaaaço da Norte Refrigeração”
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                1.&nbsp;&nbsp;<u>Objetivo:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                O objetivo é estimular nossos clientes (Pessoa Física) para entrarem no clima da Copa do Mundo, brincando e torcendo através de um Bolão Eletrônico que lhe concede ótimos prêmios para os palpites corretos em algumas fases da Copa.        
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                2.&nbsp;&nbsp;<u>Período da promoção:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; font-weight: normal">
            <div class="col-md-12" style="padding-left: 40px">
                Promoção realizada em território nacional no período de 08:00h do dia 14/05/2014 às 23:59h do dia 04/07/2014, realizada pela Norte Refrigeração Ltda., com sede na Travessa São Pedro 165 – Bairro Campina – Belém/PA, inscrito no CNPJ nr. 04.920.658/0001-72.
            </div>
            <div class="col-md-12" style="font-size: medium; margin-top: 30px; padding-left: 40px">
                <table style="border: 1px solid #444444">
                    <tr style="height: 50px; vertical-align: middle; font-weight: bold">
                        <td style="text-align: center; border: 1px solid #444444" colspan="2">Palpites</td>
                        <td style="text-align: center; border: 1px solid #444444">Prêmios</td>
                        <td style="text-align: center; border: 1px solid #444444">Entrega dos Prêmios</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; border: 1px solid #444444; width: 70px; text-align: center">1ª Fase</td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    até 12/06 às 16h do 1º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    até 17/06 às 15h do 2º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    até 23/06 às 16h do 3º jogo do Brasil
                                </div>
                                <div class="col-md-12" style="padding-top: 10px">
                                    &nbsp;
                                </div>
                            </div>
                        </td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center">
                                    1º prêmio
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center;">
                                    1º prêmio 
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px; text-align: center">
                                    1º prêmio
                                </div>
                                <div class="col-md-12" style="text-align: center; padding-top: 10px">
                                    2º prêmio
                                </div>
                            </div>
                        </td>
                        <td style="border: 1px solid #444444">
                            <div class="row" style="padding: 14px">
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    a partir de 13/06 às 8h
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    a partir de 17/06 às 8h
                                </div>
                                <div class="col-md-12" style="border-bottom: 1px solid #444444; padding: 10px">
                                    a partir de 24/06 às 8h
                                </div>
                                <div class="col-md-12" style="padding-left: 10px; padding-top: 10px; height">
                                    a partir de 04/07 às 8h
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #444444; width: 70px; text-align: center">Fase Final</td>
                        <td style="border: 1px solid #444444; padding: 10px">até 04/07 às 16h da Semifinal da Copa</td>
                        <td style="border: 1px solid #444444; text-align: center">3º prêmio</td>
                        <td style="border: 1px solid #444444; padding-left: 10px">a partir de 14/07 às 8h</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 40px">
            <div class="col-md-12">
                3.&nbsp;&nbsp;<u>Como participar:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Para participar da promoção “Bolaaaaço da Norte Refrigeração” , o cliente pessoa física deverá fazer uma compra em qualquer uma das lojas ou pelo Site da Norte Refrigeração durante o período da campanha.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        b)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        A cada compra o cliente recebe um ticket com seu NÚMERO DA SORTE (numeração única) e a data da compra para se cadastrar na promoção.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        c)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Com o ticket, basta acessar o site da Norte (www.norterefrigeracao.com.br), clicar no Banner da Promoção e fazer seu cadastro, preenchendo os campos obrigatórios como: CPF, nome do participante, telefone, e-mail e senha. Opcionalmente também poder ser informado o endereço de contato.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        d)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Após realizar o cadastro, o participante estará apto a realizar os seus palpites.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        e)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Após feito o cadastro, o cliente deverá preencher os palpites dos jogos do Brasil na primeira fase, informar as seleções que jogarão o final da Copa 2014 e o placar da final.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        f)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        O cliente receberá um e-mail contendo o comprovante de inscrição com todos os dados preenchidos por ele, assim como a cada palpite realizado um email também é enviado para sua conferência.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        g)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Ao final de cada fase da promoção, serão definidos os ganhadores e entregue os prêmios aos clientes que comparecerem na Empresa.
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        h)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Não é permitido a participação do colaborador direto e indireto da Norte Refrigeração.
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="font-weight: normal; margin-top: 30px">
                Observações:
                <ul style="line-height: 30px; margin-top: 10px">
                    <li>Após os prazos vencidos de cada fase, o cliente só poderá palpitar nas fase restantes.</li>
                    <li>A qualquer momento o cliente poderá acessar o site para consultar seu cadastro e os seus palpites.</li>
                </ul>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                4.&nbsp;&nbsp;<u>Prêmios:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Primeiro Prêmio</b> (1ª Fase da Copa): Serão entregues prêmios individuais para aqueles que acertarem o placar a cada jogo do Brasil na 1ª fase. Nesta fase não haverá empates e todos os acertos serão contemplados com o prêmio da Primeira fase.
                        <p>Os prêmios são: <b>Camisteas</b> com tema da Copa</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                b)
                            </div>
                            <div class="col-md-11" style="padding-left: 0px">
                                <b>Segundo Prêmio</b> (final da 1ª. Fase da Copa): Será entregue um único prêmio para aquele que acertar o placar dos 3 jogos do Brasil na 1ª fase.
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11" style="font-weight: normal; margin-top: 20px; padding-left: 0px">
                                O prêmio é 01 (um) <b>Kit Verão</b> com 6 produtos:
                                <ul style="line-height: 30px; margin-top: 10px">
                                    <li>Lavadoura de alta pressão WAP 110V Mod. ATACAMA SMART</li>
                                    <li>Extrator de suco Loren-sid Extrasuk 110/220V Mod. PIC</li>
                                    <li>Estojo de espetos Arke REF. 44 (c/ porta espeto)</li>
                                    <li>Chopeira em Alumínio Eletrogrill 5 lt</li>
                                    <li>Churrasqueira elétrica Fischer 110V Mod Fischer Grill</li>
                                    <li>Conjunto para churrasco em aço inox 3 peças Mundial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        c)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        <b>Terceirao Prêmio</b> (Fase final da Copa): Será entregue um único prêmio para aquele que acertar as duas seleções que farão a final da copa.
                        <p style="margin-top: 20px">O prêmio é: 01 (uma) <b>Churrasqueira Inox Apolo a carvão Mod. Apolo 11</b></p>
                        <p style="margin-top: 20px">Observação: O palpite só terá validade se a numeração e data da compra impressos no ticket estejam cadastrados corretamente no site.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                5.&nbsp;&nbsp;<u>Critérios de desempate:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <div class="row">
                    <div class="col-md-1">
                        a)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Critério de desempate para o primeiro prêmio: Não há desempate para o 1º prêmio, pois todos os ganhadores com palpites corretos ganharão o prêmio.
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-1">
                        b)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Critério de desempate para o segundo prêmio: Se houver mais de um acertador no 2º prêmio, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, àquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11" style="margin-top: 15px; padding-left: 0px">
                        Observação:
                        <ul style="line-height: 25px; margin-top: 10px;">
                            <li>Não confundir “Data do palpite no site” com a “Data da compra”. A compra pode ter sido realizada por exemplo no dia 10/05/2014, mas o cliente palpitou no site somente no dia 15/05/2014. Esta última data é que será considerada para critério de desempate.</li>
                            <li>Se não houver nenhum acertador nos três jogos do Brasil na 1ª fase da Copa, será considerado ganhador aquele que acertar dois jogos do Brasil. Neste caso, havendo mais de um acertador em dois jogos do Brasil na 1ª fase da Copa, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, àquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.</li>
                            <li>Se não houver nenhum acertador em pelo menos dois jogos do Brasil na 1ª fase da Copa, será considerado ganhador aquele que acertar pelo menos um dos jogos do Brasil da 1ª fase da Copa. Neste caso, havendo mais de um acertador, será considerado vencedor o cliente cujo ticket contemplado tenha sido incluído por primeiro no site, ou seja, àquele ticket em que a data e hora do palpite no site for a mais antiga em relação à data final da promoção.</li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-1">
                        c)
                    </div>
                    <div class="col-md-11" style="padding-left: 0px">
                        Critério de desempate para o 3º prêmio: Se houver mais de um acertador no 3º prêmio, será considerado vencedor àquele que contemplar as seguintes regras, na ordem:
                        <ul style="line-height: 25px; margin-top: 10px">
                            <li>Regra 1: Acertar o placar da final. Havendo mais de um ou nenhum acertador será considerado vencedor àquele que atender a regra 2 abaixo.</li>
                            <li>Regra 2: Palpite mais antigo no site – Se ninguém for contemplado em nenhuma das regras acima ou se houver mais de um acertador para as regras acima, será considerado vencedor o cliente cujo ticket premiado tenha sido incluído por primeiro no site, ou seja, àquele ticket em que a data e hora palpite no site for a mais antiga em relação à data final da promoção.</li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11" style="margin-top: 15px; padding-left: 0px">
                        Observação: Todos os tickets com o nome do cliente, palpite dos jogos, data da compra, data e hora de cadastro serão divulgados no site e nas lojas de vendas para conferência.
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                6.&nbsp;&nbsp;<u>Divulgação do resultado e contato com os vencedores:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <ul style="line-height: 25px">
                    <li>
                        Os ganhadores de cada fase serão informados a cada etapa pelo site da promoção, nas lojas da empresa, por email e por telefone ou por carta (caso o cliente tenha informado seu endereço durante a inscrição).
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                7.&nbsp;&nbsp;<u>Instruções para receber o prêmio:</u>
            </div>
        </div>
        <div class="row" style="text-align: left; font-size: medium; margin-top: 20px">
            <div class="col-md-12" style="padding-left: 40px; font-weight: normal;">
                <ul style="line-height: 25px">
                    <li>
                        Para receber o prêmio, o cliente deverá comparecer à Norte Refrigeração até um prazo de 30 dias a partir da divulgação do resultado e apresentar o seu comprovante de cadastro enviado por e-mail ou documento de identificação com CPF para que possamos consultar e autenticar no sistema interno da empresa os dados informados pelo cliente.
                    </li>
                    <li>
                        Se por algum motivo o cliente cadastrar um número e data diferentes com os dados existentes no banco de dados da Norte Refrigeração, o participante será desclassificado.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="text-align: left; font-weight: bold; font-size: x-large; height: 40px; margin-top: 20px">
            <div class="col-md-12">
                Boa Sorte !
            </div>
        </div>
    </div>
</div>
