@model DWM.Models.RegisterViewModel
@using DWM.Models.Repositories
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Bolaaaaço da Norte Refrigeração";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@

<div class="row carousel-inner" style="margin-top: 10px">
    @*<div class="col-md-3">
        &nbsp;
    </div>*@
    <div class="col-md-6 item active">
        <div class="row carousel-inner">
            <div class="col-md-12 item active">
                <img src="~/Content/images/logo_bolaco.png" class="img-responsive center-block"/>
            </div>
        </div>
        @*<div class="row carousel-inner" style="margin-top: 15px; margin-bottom: -20px">
            <div class="col-md-12 item active">
                <div class="jumbotron" style="color: #faf7f7; padding: 15px">
                    <div style="line-height: 23px">
                        <span style="font-family: Verdana">Cadastre-se e dê seus palpites nos jogos do mundial da Copa! Mostre o quanto você é bom em dar palpites. Não esqueça, quanto mais você comprar mais chances tem de ganhar prêmios!</span>
                    </div>
                </div>
            </div>
        </div>*@
        @*-------- Regulamento -------*@
        <div class="row clearfix carousel-inner" style="margin-top: 20px">
            <div class="col-md-12 item active">
                <div class="alert alert-dismissable alert-warning" style="padding: 9px">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <a class="label" href="#modal-container-964987b" data-toggle="modal"><span style="font-size: large; color: #3c3c3c">Entenda melhor o regulamento</span></a>
                        </div>
                    </div>
                    @***********Formulário Modal REGULAMENTO **************@
                    <div class="modal fade" id="modal-container-964987b" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width: 80%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2 class="modal-title" id="myModalLabel">
                                        Regulamento da promoção
                                    </h2>
                                </div>
                                <div class="modal-body" style="overflow-y: auto; height: 450px">
                                    <div class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                @Html.Partial("_Regras")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*-------- Prêmios -------*@
        <div class="row carousel-inner" style="margin-top: -10px">
            <div class="col-md-12 item active">
                <div class="jumbotron" style="color: #faf7f7; padding: 13px">
                    <div style="line-height: 15px; text-align: center">
                        <a class="label" href="#modal-container-964987K" data-toggle="modal"><span style="font-size: large; color: #faf7f7">Confira os prêmios</span></a>
                        @***********Formulário Modal PRÊMIOS **************@
                        <div class="modal fade" id="modal-container-964987K" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="width: 55%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h2 class="modal-title" id="myModalLabel">
                                            Prêmios
                                        </h2>
                                    </div>
                                    <div class="modal-body" style="overflow-y: auto; height: 450px">
                                        <div class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <h2>Primeiro Prêmio</h2>
                                                    <p>1 (Uma) Camisa da Campanha</p>
                                                    <img src="..\Content\images\camisa_bolaco.png" class="img-responsive center-block" style="height: 300px">
                                                    <h2>Segundo Prêmio</h2>
                                                    <p>1 (Uma) Chopeira em alumínio Eletrogrill 5 lts </p>
                                                    <img src="..\Content\images\chopeira_em_aluminio_eletrogrill_5lt_mod_b4bh5l.png" class="img-responsive center-block" style="height: 400px" />
                                                    <h2>Terceiro Prêmio</h2>
                                                    <p>1 (Uma) Camisa da Campanha </p>
                                                    <img src="..\Content\images\camisa_bolaco.png" class="img-responsive center-block" style="height: 300px">
                                                    <p>&nbsp;</p>
                                                    <p>1 (Um) Caneco da Campanha </p>
                                                    <img src="..\Content\images\canecao.png" class="img-responsive center-block" style="height: 300px">
                                                    <h2>Quarto Prêmio</h2>
                                                    <p>1 (Uma) Camisa da Campanha </p>
                                                    <img src="..\Content\images\camisa_bolaco.png" class="img-responsive center-block" style="height: 300px">
                                                    <p>&nbsp;</p>
                                                    <p>1 (Um) Caneco da Campanha </p>
                                                    <img src="..\Content\images\canecao.png" class="img-responsive center-block" style="height: 300px">
                                                    <h2>Quinto Prêmio</h2>
                                                    <p>1 (Uma) Camisa da Campanha </p>
                                                    <img src="..\Content\images\camisa_bolaco.png" class="img-responsive center-block" style="height: 300px">
                                                    <p>&nbsp;</p>
                                                    <p>1 (Um) Caneco da Campanha </p>
                                                    <img src="..\Content\images\canecao.png" class="img-responsive center-block" style="height: 300px">
                                                    <h2>Sexto Prêmio</h2>
                                                    <p> 1 (Uma) Churrasqueira Arke elétrica c/ três espetos giratórios</p>
                                                    <img src="..\Content\images\Churrasqueira_eletrica.png" class="img-responsive center-block" style="height: 400px">
                                                    <h2>Sétimo Prêmio</h2>
                                                    <p>1 (Um) Split Agratto 9.000 BTUS</p>
                                                    <img src="..\Content\images\Split_Agratto_9mil_BTUS.png" class="img-responsive center-block" style="height: 400px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @*-------- Estatísticas -------*@
        <div class="row carousel-inner" style="margin-top: -15px">
            <div class="col-md-12 item active">
                <div class="alert alert-dismissable alert-warning" style="text-align: center; padding: 8px">
                    <a class="label" href="#" data-toggle="modal" onclick="ShowEstatistica();"><span style="font-size: large; color: #3c3c3c">Estatística dos palpites</span></a>
                </div>
            </div>
        </div>

        @*-------- Tablaaaaço -------*@
        @*<div class="row carousel-inner" style="margin-top: -10px">
            <div class="col-md-12 item active">
                <div class="jumbotron" style="color: #faf7f7; padding: 13px">
                    <div style="line-height: 15px; text-align: center">
                        <a class="label" href="http://tabelaaaaco.herokuapp.com" target="_blank"><span style="font-size: large; color: #faf7f7">Tabelaaaaço</span></a>
                    </div>
                </div>
            </div>
        </div>*@

        @*-------- Ganhadores -------*@
        @*@Html.Partial("_Ganhadores")*@
        
    </div>
    @*<div class="col-md-3">
        &nbsp;
    </div>*@

    <div class="col-md-6 item active">
        <div class="alert alert-warning">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="panel-title col-md-12" style="padding-top: 8px">
                        <strong>Já cadastrado</strong>
                    </h2>
                </div>
                <div class="col-md-4 pull-right">@Html.ActionLink("Dê seu Palpite", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success", @style = "font-weight: bold; font-size: large" })</div>
            </div>
        </div>
        
        @Html.Partial("_Register", Model)
    </div>
</div>
<div id="div-est"></div>


<script type="text/javascript">

    $('#carousel-example-generic').carousel({
        interval: onpause
    })

    function MoveNext(value) {
        $('#carousel-example-generic').carousel(eval(value));

        $('#_Aba0').attr("class", "");
        $('#_Aba1').attr("class", "");
        $('#_Aba2').attr("class", "");
        $('#_Aba3').attr("class", "");
        $('#_Aba4').attr("class", "");

        $('#_Aba' + value).attr("class", "active");
    }

    function ShowEstatistica() {
        var link = '../Home/_Estatistica';
        link = encodeURI(link + '?noCache=' + new Date());

        $('#carregando').css("visibility", "visible");
        $('#carregando').css("width", "100%");
        $('#carregando').css("height", "100%");
        $('#carregando').css("position", "absolute");
        $('#carregando').css("background-color", "black");
        $('#carregando').css("filter", "alpha(opacity=60)");
        $('#carregando').css("opacity", "0.6");
        $('#carregando').css("left", "0%");
        $('#carregando').css("top", "0%");

        $('#div-est').load(link);

        $(document).ajaxSuccess(function (event, xhr, settings) {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        }).error(function () {
            $('#carregando').css("visibility", "hidden");
            $('#carregando').css("height", "0px");
            $('#carregando').css("margin-top", "0%");
            $('#carregando').css("margin-left", "0%");
        })
    }

    function ShowVencedores() {
        //var link = '../Home/_Vencedores';
        //link = encodeURI(link + '?noCache=' + new Date());

        //$.ajax({
        //    type: "GET",
        //    url: link,
        //    data: {
        //        hoje: new Date()
        //    },
        //    success: function (data) {
        //        $('#div-est').html(data);
        //        $('#msgs').html("");
        //    }
        //});
    }
</script>