@helper Display(string resumo, string text, string title)
{

@*    
    <div class="row-fluid" style="background-color: #fff">
        <div class="span12">
            <div class="row-fluid" style="background-color: #fff">
                <div class="span2" style="background-color: #fff; background-image: url(~/../../../Content/images/Financas7.png); background-repeat: no-repeat; height: 100px"></div>
                <div class="span10" style="background-color: #fff; margin-top: 20px; text-align: right; padding-right: 15px">
                    <div class="row-fluid" style="background-color: #fff; padding-right: 10px">
                        <div class="span12">
                            <label style="color: #000; font-size: 32px; font-weight: bold">FINANÇAS <span style="color: #767676; font-size: 20px">online</span></label>
                            <label style="color: #000; font-size: 16px;">@resumo</label>
                            <label style="color: #656565; font-size: 10px;">@text</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
    <div class="row-clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix" style="background-color: #fff">
                <div class="col-md-12 column" style="border-top: 1px solid #e1e0e0; background-color: rgba(255, 218, 10, 0.71); height: 40px; padding-top: 7px; padding-left: 10px; text-align: left">
                    <span style="color: #000; font-size: 20px; font-weight: bold">@title</span>
                </div>
            </div>
        </div>
    </div>
}

